BGP AFI/SAFI Naming

Some days ago, we had such an agreement about naming AFI/SAFI for our internal products. Let's use it for annet.

| BGP AFI | BGP SAFI | Name                   | RFC                                                                                                                                                                |
|:--------|:---------|:-----------------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1       | 1        | `ipv4_unicast`         | [RFC4760](https://www.rfc-editor.org/rfc/rfc4760.html)                                                                                                             |
| 1       | 4        | `ipv4_labeled_unicast` | [RFC8277](https://www.rfc-editor.org/rfc/rfc8277.html)                                                                                                             | 
| 1       | 73       | `ipv4_srpolicy`        |  [draft-ietf-idr-segment-routing-te-policy-26](https://datatracker.ietf.org/doc/html/draft-ietf-idr-segment-routing-te-policy)                             |
| 1       | 128      | `ipv4_vpn_unicast`     | [RFC4364](https://www.rfc-editor.org/rfc/rfc4364.html)/[RFC8277](https://www.rfc-editor.org/rfc/rfc8277.html)/[RFC9252](https://www.rfc-editor.org/rfc/rfc9252.html) | 
| 1       | 133      | `ipv4_flowspec`        | [RFC8955](https://www.rfc-editor.org/rfc/rfc8955.html)                                                                                                             | 
| 2       | 1        | `ipv6_unicast`         | [RFC4760](https://www.rfc-editor.org/rfc/rfc4760.html)                                                                                                             | 
| 2       | 4        | `ipv6_labeled_unicast` | [RFC8277](https://www.rfc-editor.org/rfc/rfc8277.html)                                                                                                             |
| 2       | 73       | `ipv6_srpolicy`        | [draft-ietf-idr-segment-routing-te-policy-26](https://datatracker.ietf.org/doc/html/draft-ietf-idr-segment-routing-te-policy)                             |
| 2       | 128      | `ipv6_vpn_unicast`     | [RFC4364](https://www.rfc-editor.org/rfc/rfc4364.html)/[RFC8277](https://www.rfc-editor.org/rfc/rfc8277.html)/[RFC9252](https://www.rfc-editor.org/rfc/rfc9252.html) | 
| 2       | 133      | `ipv6_flowspec`        | [RFC8955](https://www.rfc-editor.org/rfc/rfc8955.html)                                                                                                             | 
| 25      | 70       | `l2vpn_evpn`           | [RFC7432](https://www.rfc-editor.org/rfc/rfc7432.html)                                                                                                             | 
| 16388   | 71       | `link_state`           | [RFC7752](https://www.rfc-editor.org/rfc/rfc7752.html)                                                                                                             | 
| 16388   | 72       | `link_state_vpn`       | [RFC7752](https://www.rfc-editor.org/rfc/rfc7752.html)                                                                                                             | 

Links:
- [IANA Address Family Numbers](https://www.iana.org/assignments/address-family-numbers/address-family-numbers.xhtml)
- [IANA Subsequent Address Family Identifiers Parameters](https://www.iana.org/assignments/safi-namespace/safi-namespace.xhtml)


To be honest some popular AFI/SAFI are absent, I propose using that naming for them:

| BGP AFI | BGP SAFI | Name                 | RFC                                                                                                           |
|:--------|:---------|:---------------------|:--------------------------------------------------------------------------------------------------------------|
| 1       | 2        | `ipv4_multicast`     | [RFC4760](https://www.rfc-editor.org/rfc/rfc4760.html)                                                        |
| 1       | 5        | `ipv4_ng_mvpn`       | [RFC6514](https://www.rfc-editor.org/rfc/rfc6514.html)                                                        |
| 1       | 129      | `ipv4_vpn_multicast` | [RFC6513](https://www.rfc-editor.org/rfc/rfc6513.html)/[RFC6514](https://www.rfc-editor.org/rfc/rfc6514.html) |
| 1       | 132      | `rt_constrains`      | [RFC4684](https://www.rfc-editor.org/rfc/rfc4684.html)                                                        |
| 2       | 2        | `ipv6_multicast`     | [RFC4760](https://www.rfc-editor.org/rfc/rfc4760.html)                                                        |
| 1       | 5        | `ipv6_ng_mvpn`       | [RFC6514](https://www.rfc-editor.org/rfc/rfc6514.html)                                                        |
| 2       | 129      | `ipv6_vpn_multicast` | [RFC6513](https://www.rfc-editor.org/rfc/rfc6513.html)/[RFC6514](https://www.rfc-editor.org/rfc/rfc6514.html) | 
| 25      | 65       | `l2vpn_bgp`          | [RFC4761](https://www.rfc-editor.org/rfc/rfc4761.html)/[RFC6074](https://www.rfc-editor.org/rfc/rfc6074.html) |

